
@use './variables' as v;
@use 'sass:map'; // to use map functions if needed

@mixin breakpoint($bp) {

  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == desktopS {
    @media (min-width: v.$bp-desktopS) {
      @content;
    }
  }

  @if $bp == desktopM {
    @media (min-width: v.$bp-desktopM) {
      @content;
    }
  }

  @if $bp == desktopL {
    @media (min-width: v.$bp-desktopL) {
      @content;
    }
  }
}

@mixin reset_ul { // reset list-style formatting
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@mixin apply_font($font-map) {
  font-family: map.get($font-map, font-family);
  font-size: map.get($font-map, font-size);
  line-height: map.get($font-map, line-height);
  letter-spacing: map.get($font-map, letter-spacing);
}

@mixin btn {
    font-family: "Space Grotesk Medium";
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 4.29px;
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
    text-underline-offset: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration-thickness: 2px;
}
