
@use 'abstracts/variables' as v;
@use 'sass:map'; // to use map functions if needed

@mixin breakpoint($bp) {

  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == desktopS {
    @media (min-width: v.$bp-desktopS) {
      @content;
    }
  }

  @if $bp == desktopM {
    @media (min-width: v.$bp-desktopM) {
      @content;
    }
  }

  @if $bp == desktopL {
    @media (min-width: v.$bp-desktopL) {
      @content;
    }
  }
}

@mixin reset_ul { // reset list-style formatting
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin apply_font($font-map) {
  font-family: map-get($font-map, family);
  font-size: map-get($font-map, size);
  line-height: map-get($font-map, line-height);
  letter-spacing: map-get($font-map, spacing);
}

@mixin btn {
  font-family: 'Space Grotesk Bold';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  text-decoration: underline;
  text-decoration-color: v.$green;
  text-underline-offset: 10px;
}

@mixin btn_hover {
  color: v.$green;
}
