/* -- BreakPoints -- */
$bp-tablet: 768px;
$bp-desktopS: 1024px;
$bp-desktopM: 1200px;
$bp-desktopL: 1440px;


/* -- Colors -- */
$black: #151515;
$green: #4EE1A0;
$darkgrey: #242424;
$grey: #D9D9D9;
$white: #FFFFFF;


/* -- Fonts -- */
$headingXL: (
    font-family: 'Space Grotesk Bold',
    font-size: 88px,
    line-height: 88px,
    letter-spacing: -2.5px
);

$headingL: (
    font-family: 'Space Grotesk Bold',
    font-size: 48px,
    line-height: 56px,
    letter-spacing: -1.5px
);

$headingM: (
    font-family: 'Space Grotesk Bold',
    font-size: 24px,
    line-height: 32px,
    letter-spacing: 0px
);

$bodyL: (
    font-family: 'Space Grotesk Medium',
    font-size: 18px,
    line-height: 28px,
    letter-spacing: 0px
);