@use '../abstracts/abstracts' as v;


.container {
    margin: 0;
    padding: 0;

    min-width: 360px; //Mobile First -- GalaxyS8+ (360 x 740)
    max-width: 360px;
    margin-right: auto;
    margin-left:auto;

    background-color: v.$black;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    ul {
        @include v.reset_ul;
    }
    
    //Responsive: 
    @include v.breakpoint (tablet) {
        min-width: 768px;
        max-width: 768px;
    }

    @include v.breakpoint(desktopS) {
        min-width: 1024px; //117.35px
        max-width: 1024px;      
    }

    @include v.breakpoint(desktopL) {
        max-width: 1440px;
    }

    /*(desktopXL) {
        margin-left: 165px; // => 11.46%
        margin-rigth: 165px;
        width: 1110px; //content => 77.083%
        max-width: 1440px;
    }*/

}