@use '../abstracts/abstracts' as v;


.container {
    margin: 0;
    padding: 0;

    min-width: 360px; //Mobile First -- GalaxyS8+ (360 x 740)
    max-width: 360px;
    margin-right: auto;
    margin-left:auto;

    background-color: v.$black;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    ul {
        @include v.reset_ul;
    } 
}