@use '../abstracts/abstracts' as v;

.knows_experience {

    width: 360px;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: v.$white;
    text-align: center;
    padding-bottom: 40px;

    @include v.breakpoint(tablet) {
        width: 768px;
        height: 300px;
        text-align:left;
        margin-bottom: 140px;
    }

    @include v.breakpoint(desktopS){
        width: 800px;
        margin: 0 117.35px 0 117.035px;
    }

    @include v.breakpoint(desktopL){
        width: 1045px;
        margin: 0 165px 0 165px;
    }

    &:before {
        content:"";
        background: v.$white;
        width: 343px;
        height: 1px;
        position: relative;
        left: 2px;
        padding-top: 1px;

        @include v.breakpoint(tablet) {
            width: 725px;
        }

        @include v.breakpoint(desktopS){
            width: 800px;
        }

        @include v.breakpoint(desktopL){
            width: 1170px;
            left: 15px;
        }
    }

    ul {

        @include v.breakpoint(tablet){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 10px;
            margin-bottom: 25px;
        }

        @include v.breakpoint(desktopS){
            row-gap: 60px;
        }

        @include v.breakpoint(desktopL){
            row-gap: 60px;
            column-gap: 105px;
            width: 1120px;
            position: relative;
            left: -40px;
        }

        li {
            @include v.breakpoint(tablet){
                width: 345px;
                height: 150px;
            }

            @include v.breakpoint(desktopS){
                width: 260px;
            }

            @include v.breakpoint(desktopL){
                position: relative;
                left: 55px;
            }

            h3 {
                @include v.apply_font(v.$headingMS);
                margin-bottom: 1px;

                @include v.breakpoint(tablet) {
                    @include v.apply_font(v.$headingL)
                }

                @include v.breakpoint(desktopS){
                    font-size: 40px;
                }

                @include v.breakpoint(desktopL){
                    @include v.apply_font(v.$headingL)
                }
            }
        
            p {
                margin: 0;
                @include v.apply_font(v.$bodyM);

                @include v.breakpoint(desktopL){
                    @include v.apply_font(v.$bodyL);
                }
            }
        }

    }
    
    
    .ovals2 {
        position: relative;
        top: -40px;
        left: 90px;
        position: relative;
        left: 210px;
        rotate: 180deg;

        @include v.breakpoint(tablet){
            top: -50px;
            left: 400px;
        }

        @include v.breakpoint(desktopS){
            left: 540px;
            top: -150px;
        }

        @include v.breakpoint(desktopL){
            top: -135px;
            left: 710px;
        }
    }
}

