@use '../abstracts/abstracts' as v;

.knows_experience {

    width: 360px;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: v.$white;
    text-align: center;
    padding-bottom: 40px;

    &:before {
        content:"";
        background: v.$white;
        width: 343px;
        height: 1px;
        position: relative;
        left: 2px;
        padding-top: 1px;
    }
    

    h3 {
        @include v.apply_font(v.$headingMS);
        margin-bottom: 1px;
    }

    p {
        margin: 0;
        @include v.apply_font(v.$bodyM);
    }

    .ovals2 {
        position: relative;
        top: -40px;
        left: 90px;
    }
}

