@use '../abstracts/abstracts' as v;

.knows_experience {

    width: 345px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: v.$white;
    text-align: center;
    margin-bottom: 80px;

    &:before {
        content:"";
        background: v.$white;
        width: 343px;
        height: 1px;
        position: relative;
        left: 8px;
    }
    

    h3 {
        @include v.apply_font(v.$headingMS);
        margin-bottom: 1px;
    }

    p {
        margin: 0;
        @include v.apply_font(v.$bodyM);
    }
}

