@use '../abstracts/abstracts' as v;

.hdr-principal {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    position: relative;
        top: 60px;
        z-index: 1;

    height: 363.236px;
    margin-bottom: 40px;

    

    @include v.breakpoint(tablet){
        flex-direction: row;

    }


    h1 {
        @include v.apply_font(v.$headingM);
        color: v.$white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .menu {
        display: flex;
        flex-direction: column;


        nav.rr-ss ul {
            display: flex;
            flex-direction: row;
            column-gap: 25.6px;  
        }
    
        .portrait {
            margin: 0;
            width: 174px;
            height: 383px;
    
            background-image: linear-gradient(360deg,rgba(36, 36, 36, 0.47)
            0%, rgba(36, 36, 36, 0.35) 48%, rgba(36, 36, 36, 0) 74%);
            
            position: relative;
                bottom: 120px;

    
            img {
                width: 174px;
                position: relative;
                top: 155px;
            }
        }
    }

    
}