@use '../abstracts/abstracts' as v;

.hdr-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
    top: 60px;
    z-index: 1;

    height: 363.236px;
    margin-bottom: 40px;

    

    @include v.breakpoint(tablet){
        flex-direction: row;
        justify-content: space-between

    }

    @include v.breakpoint(desktopS){
        margin: 40px 117.35px 0 117.035px;
    }


    h1 {
        @include v.apply_font(v.$headingM);
        color: v.$white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;

        @include v.breakpoint(tablet){
            align-self: start;

            bottom: 65px;
            left: 0px;

            font-size: 32px;    
            line-height: 32px;
            letter-spacing: -0.44px;

            position: relative;
        }

    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        
        nav.rr-ss {

            @include v.breakpoint(tablet) {
                position: relative;
                right: -60px;
                bottom: 15px;
            }

        
        
            ul {
                display: flex;
                flex-direction: row;
                column-gap: 25.6px;
                
                li {

                    a {
                        @include v.breakpoint(talbet) {
                            width: 24.61px;
                        }
                    }
                    
                }
            }
        }

        .portrait {
            margin: 0;
            width: 175px;
            height: 383px;
    
            background-image: linear-gradient(360deg,rgba(36, 36, 36, 0.47)
            0%, rgba(36, 36, 36, 0.35) 48%, rgba(36, 36, 36, 0) 74%);
            
            position: relative;
            bottom: 120px;
            z-index: -5;

            @include v.breakpoint(tablet){
                bottom: 65px;
                background-image: none;
                background-color: v.$darkgrey;
                width: 320px;
            }

            @include v.breakpoint(desktopS){
                width: 335px;
            }
    
            img {
                width: 174px;
                position: relative;
                top: 155px;

                @include v.breakpoint(tablet) {
                    width: 335px;
                    top: 90px;
                    background-color: v.$darkgrey;
                    z-index: -1;
                }
            }
        }
    }

    
}