@use '../abstracts/abstracts' as v;

.hdr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //width: 153.99px;
    //height: 72px;

    margin-bottom: 60px;

    h1 {
        @include v.apply_font(v.$headingM);
        color: v.$white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    nav.rr-ss ul {
        display: flex;
        flex-direction: row;
        column-gap: 25.6px;
    }
}