@use '../abstracts/abstracts' as v;


.title {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 215px;
    padding-bottom: 80px;

    @include v.breakpoint(tablet){
        padding-bottom:0;
        margin-bottom:-24px;
    }

    @include v.breakpoint(desktopS){
        margin: 0 117.35px 0 117.035px;
    }

    .ovals3{
        position: relative;
        bottom: 280px;
        right: 235px;

        @include v.breakpoint(tablet){
            bottom: 350px;
            right: 325px;
        }
    }

    .ovals3-2 {
        position: relative;
        width: 30%;
        bottom: 280px;
        left: 185px;
        z-index: 1;

        @include v.breakpoint(tablet){
            width: 15%;
            bottom: 125px;
            left: 385px;
        }

        @include v.breakpoint(desktopS){
            width: 12.5%;
            left:60px;
        }
    }


    .basic_info {
        width: 343px;
        text-align: center;
        position: relative;
        bottom: 260px;

        @include v.breakpoint(tablet){
            text-align: start;
            width: 445px;
            position: relative;
            bottom: 535px;
            right: 135px;
        }

        @include v.breakpoint(desktopS){
            bottom: 515px;
            right: 170px;
        }

        h1 {
            margin: 0;
            @include v.apply_font(v.$headingS);
            color: v.$white;
            padding: 10px;

            @include v.breakpoint(tablet){
                margin-bottom:25px;
                font-size: 72px;
                line-height: 72px;
                letter-spacing: -2.05px;
                width: 443px;
                height: 233px;
                position: relative;
                z-index: 2;
            }

            @include v.breakpoint(desktopS){       
               width: 580px;
                padding: 0;
                font-size: 62px;
                height: 150px;
            }

            @include v.breakpoint(desktopL){ //1440
                @include v.apply_font(v.$headingXL);
            }

            .forced {
                display:none;

                @include v.breakpoint(tablet) {
                    display: inline;
                }

                @include v.breakpoint(desktopS){
                    display: none;
                }
            }

            span {
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-color: v.$green;
            }
        }

        p {
            @include v.apply_font(v.$bodyM);
            color:v.$grey;
            margin-bottom: 24px;

            @include v.breakpoint(tablet){
                margin-bottom: 34px;
                @include v.apply_font(v.$bodyL);
            }

            @include v.breakpoint(desktopS){
                margin-bottom:55px;
            }
        }

        // div.btn -> buttons are defined in ./themes/default.scss
    }

    
}