@use '../abstracts/abstracts' as v;

.projects {

    display: flex;
    flex-direction: column;

    color: v.$white;

    @include v.breakpoint(tablet){
        margin-left: 15px;
    }

    @include v.breakpoint(desktopS){
        margin: 0 117.35px 0 117.035px;
    }

    @include v.breakpoint(desktopL){
        margin: 0 165px 0 165px;
    }

    &::before {
        content: "";
        background: #FFFFFF;
        width: 343px;
        height: 1px;
        position: relative;
        left: 8px;

        @include v.breakpoint(tablet) {
            display: none;
 
        }
    }

    .header-projects {
        width: 340px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 33px;
        margin-left: 10px;

        color: v.$white;

        padding-top:90px;

        @include v.breakpoint(tablet){
            width: 715px;
            padding-bottom: 25px
        }

        @include v.breakpoint(desktopL){
            padding-top: 116px;
            width: 1095px;
        }


        h2 {
            @include v.apply_font(v.$headingS);
        }

        .btn {
            font-weight: 500;
            position: relative;
            bottom: 5px;
        }

    }

    .examples {

        width: 343px;

        display: flex;
        flex-direction: column;

        margin-left: 10px;

                
        @include v.breakpoint(tablet){
            width: 716px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include v.breakpoint(desktopL){
            width:1095px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        article {
            height: 500px;
            margin-bottom: 40px;

            @include v.breakpoint(tablet){
                width: 343px;
            }

            @include v.breakpoint(desktopS){
                height: 390px;
            }

            @include v.breakpoint(desktopL){
                width: 530px;
                height: 515px;
            }

            figure {
                width: 347px;
                height: 253px;
                margin: 0;
                margin-bottom: 20px;
                position: relative;

                @include v.breakpoint(desktopS){
                    &::after {
                        content:"";
                        position: absolute;
                        inset:0;
                        opacity: 0;
                        background-color: rgba(0,0,0,0);
                        transition: background-color 0.4s ease, opacity 0.25s ease;
                        z-index: 2;
                    }

                    &:hover::after{
                        background-color:rgba(0,0,0,0.6);
                        opacity: 1;
                    }

                    &:hover{
                        .buttons {
                            visibility: visible;
                        }
                    }
                }

                @include v.breakpoint(desktopL){
                    width: 530px;
                    height: 391px;
                }

                img {
                    margin:20px 0 20px 0; 
                    display: block;
                    width: 343px;

                    position: relative;
                    z-index: 1;
                    
                    @include v.breakpoint(desktopL){
                        width:530px;
                    }
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 7px;
                    margin-left:5px;

                    @include v.apply_font(v.$headingM);
                    text-transform: uppercase;
                }
    
                .technologies {

                    margin-bottom: 20px;
                    margin-left:5px;
                    
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 18px;
    
                        li {
    
                            p {
                                @include v.apply_font(v.$bodyL);      
                                text-transform: uppercase;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
    
                .buttons {
                    display: flex;
                    flex-direction: row;
                    column-gap: 30px;
                    margin-left: 5px;
    
                    @include v.btn;
                    margin-bottom: 40px;
    
                    @include v.breakpoint(desktopS){
                        flex-direction: column;
                        align-items: center;
                        margin: 0;
                        width: 280px;
                        gap: 45px;
                        position: relative;
                        left: 30px;
                        bottom: 320px;
                        z-index: 5;
                        visibility: hidden;
                    }

                    @include v.breakpoint(desktopL){
                        left: 125px;
                        bottom: 405px;
                        gap: 65px;
                    }
    
                    li {
                        a {
                            color: v.$white;
                            text-decoration-color: v.$green;
    
                            &:hover {
                                color: v.$green;
                            }
                        }
                    }
                }
            }

        }
    }
}